In [383]:
import pandas as pd
import seaborn as sns

In [384]:
df = pd.read_csv('data/train.csv')
pd.options.display.max_columns = None
df.head()

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,GiftsTransaction,TransactionDate,TransactionTime,TransactionAmount,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure,IsFraud
0,8765,70,37,Female,Professional,Bachelor,Widowed,3,28884.43 AUD,14610.61 AUD,£ 1050.01,2023-03-12,12:25:57,AU$ 258.14,M006,Withdrawal,Adelaide,Mobile,-31.840233,145.612793,jon44@disposable.com,False,113,1
1,9645,3386,34,Male,Student,High School,Married,4,AU$ 54919.07,39169.49 AUD,£ 4969.71,2023-03-05,18:27:24,34.94 AUD,M002,Withdrawal,Canberra,Mobile,-37.020100,144.964600,emilyreese@gmail.com,False,104,1
2,1145,2971,25,Male,Unemployed,Master,Married,2,AU$ 74728.57,55873.76 AUD,£ 1149.85,2023-11-10,17:16:56,AU$ 323.82,M008,Purchase,Brisbane,Mobile,-31.840233,145.612793,fordevan@gmail.com,False,105,0
3,15308,2925,25,Male,Professional,High School,Married,3,AU$ 55712.62,AED 89649.04,AU$ 4335.7,2023-10-07,00/34/17,AED 32.49,M001,Purchase,Darwin,iphone 15,-37.020100,144.964600,kathleenlewis@tempmail.com,False,70,1
4,14967,2339,38,Male,Professional,High School,Single,4,53004.7 AUD,AED 43601.02,4763.48 AUD,2023-09-22,06:40:08 PM,1140.75 AED,M001,Withdrawal,MLB,Tablet,-37.020100,144.964600,kristinawhite@gmail.com,False,27,0

In [385]:
df.describe()

,TransactionNumber,UserID,Age,NumDependents,Latitude,Longitude,UserTenure,IsFraud
count,10966.000000,10966.000000,10966.000000,10966.000000,10923.000000,10923.000000,10966.000000,10966.000000
mean,9117.500091,2483.885282,2751.845887,1.995714,-30.363255,141.254786,60.786157,0.364308
std,5293.669640,1429.402615,9730.988917,1.408035,6.962819,11.268395,34.254477,0.481257
min,1.000000,1.000000,-68.000000,0.000000,-41.640079,-112.026050,1.000000,0.000000
25%,4516.250000,1253.000000,26.000000,1.000000,-37.020100,142.702789,31.000000,0.000000
50%,9120.500000,2471.000000,34.000000,2.000000,-31.840233,144.964600,61.000000,0.000000
75%,13710.750000,3727.000000,43.000000,3.000000,-25.042261,145.612793,90.000000,1.000000
max,18277.000000,5000.000000,67000.000000,4.000000,57.851580,149.012375,119.000000,1.000000

In [386]:
df.isna().sum() # Only coordinates are missing

TransactionNumber       0
UserID                  0
Age                     0
Gender                  0
Occupation              0
EducationLevel          0
MaritalStatus           0
NumDependents           0
Income                  0
Expenditure             0
GiftsTransaction        0
TransactionDate         0
TransactionTime         0
TransactionAmount       0
MerchantID              0
TransactionType         0
TransactionLocation     0
DeviceType              0
Latitude               43
Longitude              43
EmailDomain             0
Terrorism               0
UserTenure              0
IsFraud                 0
dtype: int64

In [387]:
df = df.dropna()

In [388]:
# TransactionNubmber

df.TransactionNumber # Integer, no negative values

0         8765
1         9645
2         1145
3        15308
4        14967
         ...
10961    11284
10962    11964
10963     5390
10964      860
10965    15795
Name: TransactionNumber, Length: 10923, dtype: int64

In [389]:
df.drop_duplicates(subset=['TransactionNumber'], inplace=True)

In [390]:
df.UserID #integer, no negative values

0          70
1        3386
2        2971
3        2925
4        2339
         ...
10961    3632
10962    3925
10963    4811
10964    1110
10965    3608
Name: UserID, Length: 10923, dtype: int64

In [391]:
df.drop_duplicates(subset=['UserID'], inplace=True)

In [392]:
# Checking the age column

df.Age[df.Age < 18]

13      -24
43      -43
47      -29
60      -47
72      -49
         ..
9925    -47
10048   -46
10056   -48
10484   -38
10906   -46
Name: Age, Length: 349, dtype: int64

In [393]:
# Checking the age column

df.Age[(df.Age < 18) & (df.Age > 0)]

Series([], Name: Age, dtype: int64)

In [394]:
df = df.drop(df[df.Age < 0].index)

In [395]:
# Check Gender column

df.Gender.value_counts()

Gender
Male           1775
Female         1682
he              108
man             101
isnotfemale      87
woman            85
fem              79
she              73
isnotmale        67
Name: count, dtype: int64

In [396]:
df.Gender[(df['Gender'] == 'man') | (df["Gender"] == 'he')] = 'Male' # !!! Fix Warning !!!

C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\2389604150.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.Gender[(df['Gender'] == 'man') | (df["Gender"] == 'he')] = 'Male' # !!! Fix Warning !!!
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\2389604150.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Gender[(df['Gender'] == 'man') | (df["Gender"] == 'he')] = 'Male' # !!! Fix Warning !!!

In [397]:
df.Gender[(df['Gender'] == 'woman') | (df["Gender"] == 'fem') | (df["Gender"] == 'she')] = 'Female'

C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\249712640.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.Gender[(df['Gender'] == 'woman') | (df["Gender"] == 'fem') | (df["Gender"] == 'she')] = 'Female'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\249712640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Gender[(df['Gender'] == 'woman') | (df["Gender"] == 'fem') | (df["Gender"] == 'she')] = 'Female'

In [398]:
df = df.drop(df[(df.Gender  == 'isnotfemale') | (df.Gender == 'isnotmale')].index)

In [399]:
# Check Gender column

df.Gender.value_counts()

Gender
Male      1984
Female    1919
Name: count, dtype: int64

In [400]:
# Check occupation

df.Occupation.value_counts() # all good

Occupation
Professional    1889
Student         1199
Unemployed       420
Retired          395
Name: count, dtype: int64

In [401]:
df.EducationLevel.value_counts() # all good

EducationLevel
Bachelor       1545
High School    1529
Master          610
PhD             219
Name: count, dtype: int64

In [402]:
df.NumDependents # int no negative

0        3
1        4
2        2
3        3
4        4
        ..
10921    4
10923    0
10929    3
10952    1
10957    3
Name: NumDependents, Length: 3903, dtype: int64

In [403]:
df.head()

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,GiftsTransaction,TransactionDate,TransactionTime,TransactionAmount,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure,IsFraud
0,8765,70,37,Female,Professional,Bachelor,Widowed,3,28884.43 AUD,14610.61 AUD,£ 1050.01,2023-03-12,12:25:57,AU$ 258.14,M006,Withdrawal,Adelaide,Mobile,-31.840233,145.612793,jon44@disposable.com,False,113,1
1,9645,3386,34,Male,Student,High School,Married,4,AU$ 54919.07,39169.49 AUD,£ 4969.71,2023-03-05,18:27:24,34.94 AUD,M002,Withdrawal,Canberra,Mobile,-37.020100,144.964600,emilyreese@gmail.com,False,104,1
2,1145,2971,25,Male,Unemployed,Master,Married,2,AU$ 74728.57,55873.76 AUD,£ 1149.85,2023-11-10,17:16:56,AU$ 323.82,M008,Purchase,Brisbane,Mobile,-31.840233,145.612793,fordevan@gmail.com,False,105,0
3,15308,2925,25,Male,Professional,High School,Married,3,AU$ 55712.62,AED 89649.04,AU$ 4335.7,2023-10-07,00/34/17,AED 32.49,M001,Purchase,Darwin,iphone 15,-37.020100,144.964600,kathleenlewis@tempmail.com,False,70,1
4,14967,2339,38,Male,Professional,High School,Single,4,53004.7 AUD,AED 43601.02,4763.48 AUD,2023-09-22,06:40:08 PM,1140.75 AED,M001,Withdrawal,MLB,Tablet,-37.020100,144.964600,kristinawhite@gmail.com,False,27,0

In [404]:
income_tmp = df.Income
income_tmp = income_tmp.replace('AUD','', regex=True) # Only in AUD
income_tmp = income_tmp.replace('AU\$','', regex=True)
income_tmp = income_tmp.astype(float)
income_tmp

<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\$'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\2173534728.py:3: SyntaxWarning: invalid escape sequence '\$'
  income_tmp = income_tmp.replace('AU\$','', regex=True)

0        28884.43
1        54919.07
2        74728.57
3        55712.62
4        53004.70
           ...
10921    74835.82
10923    86312.26
10929    50836.99
10952    64400.78
10957    32580.76
Name: Income, Length: 3903, dtype: float64

In [405]:
df.Income = income_tmp

In [406]:
exp_tmp = df.Expenditure
exp_tmp = exp_tmp.replace('AUD','', regex=True) # Only in AUD
exp_tmp = exp_tmp.replace('AU\$','', regex=True)
exp_tmp = exp_tmp.replace('AED','', regex=True)
exp_tmp = exp_tmp.astype(float)
exp_tmp

<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\$'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\2999303378.py:3: SyntaxWarning: invalid escape sequence '\$'
  exp_tmp = exp_tmp.replace('AU\$','', regex=True)

0        14610.61
1        39169.49
2        55873.76
3        89649.04
4        43601.02
           ...
10921    45101.32
10923    48357.47
10929    29800.75
10952    30010.69
10957    14882.96
Name: Expenditure, Length: 3903, dtype: float64

In [407]:
df.Expenditure = exp_tmp

In [408]:
# Gifts transactions - seem to be in different currencies

gift_tmp = df.GiftsTransaction
gift_tmp = gift_tmp.replace('\d+', '', regex=True)
gift_tmp.value_counts() # Only used AUD and GBP

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\3981689156.py:4: SyntaxWarning: invalid escape sequence '\d'
  gift_tmp = gift_tmp.replace('\d+', '', regex=True)

GiftsTransaction
. GBP    1548
£ .      1477
AU$ .     443
. AUD     435
Name: count, dtype: int64

In [409]:
GB_list = ['GBP', '£']
AD_list = ['AUD']

df['GiftsTransaction'] = df['GiftsTransaction'].replace('\$', 'D', regex=True)

df.loc[df['GiftsTransaction'].str.contains('|'.join(GB_list)), 'GiftsCurrency'] = 'GBP'
df.loc[df['GiftsTransaction'].str.contains('|'.join(AD_list)), 'GiftsCurrency'] = 'AUD'

<>:4: SyntaxWarning: invalid escape sequence '\$'
<>:4: SyntaxWarning: invalid escape sequence '\$'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\2426196164.py:4: SyntaxWarning: invalid escape sequence '\$'
  df['GiftsTransaction'] = df['GiftsTransaction'].replace('\$', 'D', regex=True)

In [410]:
df.head()

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,GiftsTransaction,TransactionDate,TransactionTime,TransactionAmount,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure,IsFraud,GiftsCurrency
0,8765,70,37,Female,Professional,Bachelor,Widowed,3,28884.43,14610.61,£ 1050.01,2023-03-12,12:25:57,AU$ 258.14,M006,Withdrawal,Adelaide,Mobile,-31.840233,145.612793,jon44@disposable.com,False,113,1,GBP
1,9645,3386,34,Male,Student,High School,Married,4,54919.07,39169.49,£ 4969.71,2023-03-05,18:27:24,34.94 AUD,M002,Withdrawal,Canberra,Mobile,-37.020100,144.964600,emilyreese@gmail.com,False,104,1,GBP
2,1145,2971,25,Male,Unemployed,Master,Married,2,74728.57,55873.76,£ 1149.85,2023-11-10,17:16:56,AU$ 323.82,M008,Purchase,Brisbane,Mobile,-31.840233,145.612793,fordevan@gmail.com,False,105,0,GBP
3,15308,2925,25,Male,Professional,High School,Married,3,55712.62,89649.04,AUD 4335.7,2023-10-07,00/34/17,AED 32.49,M001,Purchase,Darwin,iphone 15,-37.020100,144.964600,kathleenlewis@tempmail.com,False,70,1,AUD
4,14967,2339,38,Male,Professional,High School,Single,4,53004.70,43601.02,4763.48 AUD,2023-09-22,06:40:08 PM,1140.75 AED,M001,Withdrawal,MLB,Tablet,-37.020100,144.964600,kristinawhite@gmail.com,False,27,0,AUD

In [434]:
df.GiftsCurrency.value_counts()

GiftsCurrency
GBP    3025
AUD     878
Name: count, dtype: int64

In [411]:
GB_list = ['GBP', '£']
AD_list = ['AUD', 'AU\$']

gft_tmp = df.GiftsTransaction
gft_tmp = gft_tmp.replace(GB_list,'', regex=True)
gft_tmp = gft_tmp.replace(AD_list,'', regex=True)
gft_tmp = gft_tmp.astype(float)
gft_tmp

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\1400243320.py:2: SyntaxWarning: invalid escape sequence '\$'
  AD_list = ['AUD', 'AU\$']

0        1050.01
1        4969.71
2        1149.85
3        4335.70
4        4763.48
          ...
10921    1270.87
10923    2009.35
10929    1291.68
10952     203.90
10957     862.94
Name: GiftsTransaction, Length: 3903, dtype: float64

In [412]:
df.GiftsTransaction = gft_tmp

In [413]:
df.head()

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,GiftsTransaction,TransactionDate,TransactionTime,TransactionAmount,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure,IsFraud,GiftsCurrency
0,8765,70,37,Female,Professional,Bachelor,Widowed,3,28884.43,14610.61,1050.01,2023-03-12,12:25:57,AU$ 258.14,M006,Withdrawal,Adelaide,Mobile,-31.840233,145.612793,jon44@disposable.com,False,113,1,GBP
1,9645,3386,34,Male,Student,High School,Married,4,54919.07,39169.49,4969.71,2023-03-05,18:27:24,34.94 AUD,M002,Withdrawal,Canberra,Mobile,-37.020100,144.964600,emilyreese@gmail.com,False,104,1,GBP
2,1145,2971,25,Male,Unemployed,Master,Married,2,74728.57,55873.76,1149.85,2023-11-10,17:16:56,AU$ 323.82,M008,Purchase,Brisbane,Mobile,-31.840233,145.612793,fordevan@gmail.com,False,105,0,GBP
3,15308,2925,25,Male,Professional,High School,Married,3,55712.62,89649.04,4335.70,2023-10-07,00/34/17,AED 32.49,M001,Purchase,Darwin,iphone 15,-37.020100,144.964600,kathleenlewis@tempmail.com,False,70,1,AUD
4,14967,2339,38,Male,Professional,High School,Single,4,53004.70,43601.02,4763.48,2023-09-22,06:40:08 PM,1140.75 AED,M001,Withdrawal,MLB,Tablet,-37.020100,144.964600,kristinawhite@gmail.com,False,27,0,AUD

In [414]:
# Date and Time
time_tmp = df.TransactionDate
time_tmp = time_tmp.replace('\d+', '', regex=True)
time_tmp.value_counts()

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\146948328.py:3: SyntaxWarning: invalid escape sequence '\d'
  time_tmp = time_tmp.replace('\d+', '', regex=True)

TransactionDate
--    3903
Name: count, dtype: int64

In [415]:
time_tmp = df.TransactionTime
time_tmp = time_tmp.replace('\d+', '', regex=True)
time_tmp.value_counts()

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\3018835517.py:2: SyntaxWarning: invalid escape sequence '\d'
  time_tmp = time_tmp.replace('\d+', '', regex=True)

TransactionTime
::       3117
//        396
:: PM     201
:: AM     189
Name: count, dtype: int64

In [416]:
df.TransactionTime = df.TransactionTime.replace('/', ':', regex=True)
df.TransactionTime =  pd.to_datetime(df.TransactionTime).dt.strftime('%H:%M:%S')

C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\574423819.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.TransactionTime =  pd.to_datetime(df.TransactionTime).dt.strftime('%H:%M:%S')

In [417]:
time_tmp = df.TransactionTime
time_tmp = time_tmp.replace('\d+', '', regex=True)
time_tmp.value_counts()

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\3018835517.py:2: SyntaxWarning: invalid escape sequence '\d'
  time_tmp = time_tmp.replace('\d+', '', regex=True)

TransactionTime
::    3903
Name: count, dtype: int64

In [418]:
df['TransactionDatetime'] = df['TransactionDate'] + ' ' + df['TransactionTime']
df['TransactionDatetime'] = pd.to_datetime(df['TransactionDatetime'])

In [419]:
trans_tmp = df.TransactionAmount
trans_tmp = trans_tmp.replace('\d+', '', regex=True)
trans_tmp.value_counts()

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\pogiz\AppData\Local\Temp\ipykernel_20728\1532584748.py:2: SyntaxWarning: invalid escape sequence '\d'
  trans_tmp = trans_tmp.replace('\d+', '', regex=True)

TransactionAmount
AU$ .    1523
. AUD    1502
AED .     446
. AED     432
Name: count, dtype: int64

In [420]:
df.MerchantID.value_counts() # ok

MerchantID
M006    518
M007    512
M008    507
M005    496
M004    495
M002    483
M001    461
M003    431
Name: count, dtype: int64

In [421]:
df.TransactionType.value_counts() #ok

TransactionType
Purchase      1901
Transfer       812
Withdrawal     781
Payment        409
Name: count, dtype: int64

In [422]:
df.TransactionLocation.value_counts()

TransactionLocation
Darwin           505
Adelaide         486
Sydney           484
Canberra         474
Brisbane         473
Hobart           470
Perth            460
Melbourne        349
Mel               34
Melb              33
melbourne         27
MLB               23
Melburn           20
Bne                8
hobart             7
Pth                5
perth              5
brisbane           5
BNE                5
canberra           4
Syd                3
adl                3
DRW                3
PTH                3
Drw                2
sydney             2
Cbr                2
Hbt                2
Adelaide City      2
Adl                1
CBR                1
darwin             1
SYD                1
Name: count, dtype: int64

In [423]:
SYD = ['SYD', 'Syd', 'sydney']
BNE = ['BNE', 'Bne', 'brisbane']
PTH = ['Pth', 'perth', 'PTH']
MLB = ['melbourne', 'Melb', 'Mel', 'Melburn', 'MLB']
ADL = ['adl', 'Adl']
DRW = ['DRW', 'Drw', 'darwin']
HBT = ['hobart', 'HBT', 'Hbt']
CBR = ['canberra', 'Cbr', 'CBR']

df.loc[df['TransactionLocation'].isin(SYD), 'TransactionLocation'] = 'Sydney'
df.loc[df['TransactionLocation'].isin(BNE), 'TransactionLocation'] = 'Brisbane'
df.loc[df['TransactionLocation'].isin(PTH), 'TransactionLocation'] = 'Perth'
df.loc[df['TransactionLocation'].isin(MLB), 'TransactionLocation'] = 'Melbourne'
df.loc[df['TransactionLocation'].isin(ADL), 'TransactionLocation'] = 'Adelaide City'
df.loc[df['TransactionLocation'].isin(DRW), 'TransactionLocation'] = 'Darwin'
df.loc[df['TransactionLocation'].isin(HBT), 'TransactionLocation'] = 'Hobart'
df.loc[df['TransactionLocation'].isin(CBR), 'TransactionLocation'] = 'Canberra'

In [424]:
df.TransactionLocation.value_counts()

TransactionLocation
Darwin           511
Brisbane         491
Sydney           490
Adelaide         486
Melbourne        486
Canberra         481
Hobart           479
Perth            473
Adelaide City      6
Name: count, dtype: int64

In [425]:
df.head()

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,GiftsTransaction,TransactionDate,TransactionTime,TransactionAmount,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure,IsFraud,GiftsCurrency,TransactionDatetime
0,8765,70,37,Female,Professional,Bachelor,Widowed,3,28884.43,14610.61,1050.01,2023-03-12,12:25:57,AU$ 258.14,M006,Withdrawal,Adelaide,Mobile,-31.840233,145.612793,jon44@disposable.com,False,113,1,GBP,2023-03-12 12:25:57
1,9645,3386,34,Male,Student,High School,Married,4,54919.07,39169.49,4969.71,2023-03-05,18:27:24,34.94 AUD,M002,Withdrawal,Canberra,Mobile,-37.020100,144.964600,emilyreese@gmail.com,False,104,1,GBP,2023-03-05 18:27:24
2,1145,2971,25,Male,Unemployed,Master,Married,2,74728.57,55873.76,1149.85,2023-11-10,17:16:56,AU$ 323.82,M008,Purchase,Brisbane,Mobile,-31.840233,145.612793,fordevan@gmail.com,False,105,0,GBP,2023-11-10 17:16:56
3,15308,2925,25,Male,Professional,High School,Married,3,55712.62,89649.04,4335.70,2023-10-07,00:34:17,AED 32.49,M001,Purchase,Darwin,iphone 15,-37.020100,144.964600,kathleenlewis@tempmail.com,False,70,1,AUD,2023-10-07 00:34:17
4,14967,2339,38,Male,Professional,High School,Single,4,53004.70,43601.02,4763.48,2023-09-22,18:40:08,1140.75 AED,M001,Withdrawal,Melbourne,Tablet,-37.020100,144.964600,kristinawhite@gmail.com,False,27,0,AUD,2023-09-22 18:40:08

In [426]:
df.DeviceType.value_counts()

DeviceType
Mobile        1793
Desktop       1180
Tablet         368
android        120
galaxys7       116
iphone 15      115
smartphone     115
mob             96
Name: count, dtype: int64

In [427]:
Mob = ['galaxys7', 'iphone 15', 'android', 'mob', 'smartphone']

df.loc[df['DeviceType'].isin(Mob), 'DeviceType'] = 'Mobile'

In [428]:
df.DeviceType.value_counts()

DeviceType
Mobile     2355
Desktop    1180
Tablet      368
Name: count, dtype: int64

In [429]:
df.EmailDomain # ok

0               jon44@disposable.com
1               emilyreese@gmail.com
2                 fordevan@gmail.com
3         kathleenlewis@tempmail.com
4            kristinawhite@gmail.com
                    ...
10921         melaniereyes@gmail.com
10923            anthony35@gmail.com
10929             mdixon@outlook.com
10952    jasminecastillo@outlook.com
10957             fryharry@yahoo.com
Name: EmailDomain, Length: 3903, dtype: object

In [430]:
df.Terrorism.value_counts() # ok

Terrorism
False    2698
True     1205
Name: count, dtype: int64

In [431]:
df.UserTenure # Integer, positive

0        113
1        104
2        105
3         70
4         27
        ...
10921     67
10923     63
10929     12
10952     52
10957     11
Name: UserTenure, Length: 3903, dtype: int64

In [432]:
df.IsFraud.value_counts() #ok

IsFraud
0    2474
1    1429
Name: count, dtype: int64

In [433]:
df.head() #done

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,GiftsTransaction,TransactionDate,TransactionTime,TransactionAmount,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure,IsFraud,GiftsCurrency,TransactionDatetime
0,8765,70,37,Female,Professional,Bachelor,Widowed,3,28884.43,14610.61,1050.01,2023-03-12,12:25:57,AU$ 258.14,M006,Withdrawal,Adelaide,Mobile,-31.840233,145.612793,jon44@disposable.com,False,113,1,GBP,2023-03-12 12:25:57
1,9645,3386,34,Male,Student,High School,Married,4,54919.07,39169.49,4969.71,2023-03-05,18:27:24,34.94 AUD,M002,Withdrawal,Canberra,Mobile,-37.020100,144.964600,emilyreese@gmail.com,False,104,1,GBP,2023-03-05 18:27:24
2,1145,2971,25,Male,Unemployed,Master,Married,2,74728.57,55873.76,1149.85,2023-11-10,17:16:56,AU$ 323.82,M008,Purchase,Brisbane,Mobile,-31.840233,145.612793,fordevan@gmail.com,False,105,0,GBP,2023-11-10 17:16:56
3,15308,2925,25,Male,Professional,High School,Married,3,55712.62,89649.04,4335.70,2023-10-07,00:34:17,AED 32.49,M001,Purchase,Darwin,Mobile,-37.020100,144.964600,kathleenlewis@tempmail.com,False,70,1,AUD,2023-10-07 00:34:17
4,14967,2339,38,Male,Professional,High School,Single,4,53004.70,43601.02,4763.48,2023-09-22,18:40:08,1140.75 AED,M001,Withdrawal,Melbourne,Tablet,-37.020100,144.964600,kristinawhite@gmail.com,False,27,0,AUD,2023-09-22 18:40:08

In [437]:
df.to_csv('data_clean/train.csv')