In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv('data_clean/train.csv')
pd.options.display.max_columns = None
df

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,GiftsTransaction,TransactionDate,TransactionTime,TransactionAmount,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure,IsFraud,ExpenditureCurrency,GiftsCurrency,TransactionDatetime,TransactionCurrency
0,8765,70,37,Female,Professional,Bachelor,Widowed,3,28884.43,14610.61,1050.01,2023-03-12,12:25:57,258.14,M006,Withdrawal,Adelaide,Mobile,-31.840233,145.612793,jon44@disposable.com,False,113,1,AUD,GBP,2023-03-12 12:25:57,AUD
1,9645,3386,34,Male,Student,High School,Married,4,54919.07,39169.49,4969.71,2023-03-05,18:27:24,34.94,M002,Withdrawal,Canberra,Mobile,-37.020100,144.964600,emilyreese@gmail.com,False,104,1,AUD,GBP,2023-03-05 18:27:24,AUD
2,1145,2971,25,Male,Unemployed,Master,Married,2,74728.57,55873.76,1149.85,2023-11-10,17:16:56,323.82,M008,Purchase,Brisbane,Mobile,-31.840233,145.612793,fordevan@gmail.com,False,105,0,AUD,GBP,2023-11-10 17:16:56,AUD
3,15308,2925,25,Male,Professional,High School,Married,3,55712.62,89649.04,4335.70,2023-10-07,00:34:17,32.49,M001,Purchase,Darwin,Mobile,-37.020100,144.964600,kathleenlewis@tempmail.com,False,70,1,AED,AUD,2023-10-07 00:34:17,AED
4,14967,2339,38,Male,Professional,High School,Single,4,53004.70,43601.02,4763.48,2023-09-22,18:40:08,1140.75,M001,Withdrawal,Melbourne,Tablet,-37.020100,144.964600,kristinawhite@gmail.com,False,27,0,AED,AUD,2023-09-22 18:40:08,AED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3563,14541,106,47,Male,Student,Master,Married,4,74835.82,45101.32,1270.87,2023-04-26,12:28:58,477.47,M004,Payment,Brisbane,Mobile,-37.020100,144.964600,melaniereyes@gmail.com,True,67,0,AUD,GBP,2023-04-26 12:28:58,AUD
3564,12206,1668,45,Female,Unemployed,Master,Married,0,86312.26,48357.47,2009.35,2023-06-01,02:57:48,76.53,M007,Purchase,Perth,Desktop,-20.917574,142.702789,anthony35@gmail.com,False,63,1,AUD,GBP,2023-06-01 02:57:48,AUD
3565,8433,2701,30,Female,Student,High School,Single,3,50836.99,29800.75,1291.68,2023-07-23,13:37:05,9.88,M008,Payment,Canberra,Desktop,-37.020100,144.964600,mdixon@outlook.com,False,12,0,AUD,GBP,2023-07-23 13:37:05,AUD
3566,769,607,39,Male,Professional,High School,Single,1,64400.78,30010.69,203.90,2023-11-07,08:19:56,1434.47,M007,Purchase,Adelaide,Mobile,-37.020100,144.964600,jasminecastillo@outlook.com,False,52,0,AUD,GBP,2023-11-07 08:19:56,AUD
3567,14423,578,29,Male,Professional,High School,Married,3,32580.76,14882.96,862.94,2023-08-08,10:36:32,18.04,M005,Purchase,Brisbane,Mobile,-31.840233,145.612793,fryharry@yahoo.com,False,11,0,AUD,GBP,2023-08-08 10:36:32,AUD

In [3]:
interesting = ['Occupation', 'TransactionType', 'TransactionLocation', 'Latitude', 'Longitude', 'Terrorism', 'ExpenditureCurrency', 'GiftsCurrency', 'IsFraud']

dfi = df[interesting]
dfi.head()

,Occupation,TransactionType,TransactionLocation,Latitude,Longitude,Terrorism,ExpenditureCurrency,GiftsCurrency,IsFraud
0,Professional,Withdrawal,Adelaide,-31.840233,145.612793,False,AUD,GBP,1
1,Student,Withdrawal,Canberra,-37.020100,144.964600,False,AUD,GBP,1
2,Unemployed,Purchase,Brisbane,-31.840233,145.612793,False,AUD,GBP,0
3,Professional,Purchase,Darwin,-37.020100,144.964600,False,AED,AUD,1
4,Professional,Withdrawal,Melbourne,-37.020100,144.964600,False,AED,AUD,0

In [4]:
cols = ['Income', 'Expenditure', 'GiftsTransaction', 'TransactionAmount', 'Occupation', 'TransactionType', 'TransactionLocation', 'Latitude', 'Longitude', 'Terrorism', 'ExpenditureCurrency', 'GiftsCurrency', 'TransactionCurrency', 'IsFraud']

dfi = df[cols]
dfi.head()

from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

onehot = OneHotEncoder(sparse_output = False)
oh_columns = ['Occupation', 'TransactionType', 'TransactionLocation', 'ExpenditureCurrency', 'GiftsCurrency', 'TransactionCurrency']
encoded = onehot.fit_transform(dfi[oh_columns])
encoded_cols = onehot.get_feature_names_out(oh_columns)
df_encoded = pd.DataFrame(encoded, columns = encoded_cols)
df_train = pd.concat([dfi.drop(oh_columns, axis=1), df_encoded], axis=1)
df_train['Terrorism'] = df_train['Terrorism'].astype(int)
df_train

from sklearn.model_selection import train_test_split

df_x = df_train.drop('IsFraud', axis=1)
df_y = df_train['IsFraud']

X_train, X_val, y_train, y_val = train_test_split(df_x, df_y, test_size = 0.2, random_state = 69)

In [5]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report, f1_score, accuracy_score

gb1 = GradientBoostingClassifier(verbose=True,)
gb1.fit(X_train, y_train)
y_pred_gb = gb1.predict(X_val)
report_gb = classification_report(y_val, y_pred_gb)
f1_gb = f1_score(y_val, y_pred_gb)
accuracy_gb = accuracy_score(y_val, y_pred_gb)
#cm = confusion_matrix(y_test, y_pred)
print('Report for Gradient Booster:', report_gb)
print('F1 for Gradient Booster:', f1_gb)
print('Accuracy for Gradient Booster:', accuracy_gb)
#sns.heatmap(cm, annot=True, fmt='d')

      Iter       Train Loss   Remaining Time
         1           1.2339            1.09s
         2           1.1740            0.88s
         3           1.1257            0.84s
         4           1.0859            0.79s
         5           1.0524            0.78s
         6           1.0240            0.75s
         7           0.9995            0.73s
         8           0.9784            0.71s
         9           0.9599            0.71s
        10           0.9445            0.70s
        20           0.8531            0.61s
        30           0.8200            0.54s
        40           0.8035            0.47s
        50           0.7902            0.39s
        60           0.7768            0.31s
        70           0.7663            0.24s
        80           0.7563            0.16s
        90           0.7460            0.08s
       100           0.7351            0.00s
Report for Gradient Booster:               precision    recall  f1-score   support

           0       0.77      0.99      0.87       442
           1       0.98      0.53      0.68       272

    accuracy                           0.82       714
   macro avg       0.88      0.76      0.78       714
weighted avg       0.85      0.82      0.80       714

F1 for Gradient Booster: 0.8151260504201681

In [6]:
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import f1_score, make_scorer

# Create the XGBoost Classifier
xgb_clf = xgb.XGBClassifier(use_label_encoder=False, eval_metric='logloss')

# Define the hyperparameters to search over
param_dist = {
    'n_estimators': [100, 200, 300],          # Number of boosting rounds
    'learning_rate': [0.01, 0.1, 0.2, 0.3],   # Learning rate
    'max_depth': [3, 4, 5, 6],                # Maximum tree depth
    'min_child_weight': [1, 3, 5],            # Minimum sum of instance weight needed in a child
    'subsample': [0.6, 0.8, 1.0],             # Subsample ratio of the training instance
    'colsample_bytree': [0.6, 0.8, 1.0],      # Subsample ratio of columns when constructing each tree
    'gamma': [0, 0.1, 0.2, 0.3],              # Minimum loss reduction required to make a further partition
    'reg_alpha': [0, 0.01, 0.1, 1],           # L1 regularization term
    'reg_lambda': [1, 0.1, 0.01],             # L2 regularization term
}

# Define the scorer to maximize F1 score
f1_scorer = make_scorer(f1_score)

# Set up the RandomizedSearchCV to search over the hyperparameters
random_search = RandomizedSearchCV(
    estimator=xgb_clf, 
    param_distributions=param_dist, 
    scoring=f1_scorer, 
    n_iter=50,            # Number of different parameter combinations to try
    cv=3,                 # 3-fold cross-validation
    verbose=2, 
    n_jobs=-1,            # Use all available cores
    random_state=42
)

# Fit the RandomizedSearchCV on the training data
random_search.fit(X_train, y_train)

# Best hyperparameters from RandomizedSearchCV
print("Best Hyperparameters:", random_search.best_params_)

# Evaluate the model on the validation set
y_pred_val = random_search.predict(X_val)

# Calculate F1 score on the validation data
f1_val = f1_score(y_val, y_pred_val)
print("F1 score on validation data:", f1_val)

acc_score = accuracy_score(y_val, y_pred_val)
print("Accuracy score on validation data:", acc_score)

Fitting 3 folds for each of 50 candidates, totalling 150 fits
Best Hyperparameters: {'subsample': 1.0, 'reg_lambda': 0.1, 'reg_alpha': 0, 'n_estimators': 100, 'min_child_weight': 1, 'max_depth': 4, 'learning_rate': 0.3, 'gamma': 0.3, 'colsample_bytree': 0.6}
F1 score on validation data: 0.6929824561403509
Accuracy score on validation data: 0.803921568627451

c:\Users\pogiz\anaconda3\Lib\site-packages\xgboost\core.py:158: UserWarning: [09:49:23] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0015a694724fa8361-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

In [7]:
import pandas as pd
import numpy as np
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.model_selection import GridSearchCV

# train = pd.read_csv('train_modified_sample.csv')
# print(train.head())

# print(train['Disbursed'].value_counts())


# target='Disbursed'
# IDcol = 'ID'

# predictors = [x for x in train.columns if x not in [target, IDcol]]

param_test = {
    'reg_alpha':[1e-5, 1e-2, 0.1, 100]
}
gsearch = GridSearchCV(estimator = 
XGBClassifier(learning_rate =0.1,
              n_estimators=10,
              max_depth=5,
              min_child_weight=2,
              gamma=0.1,
              subsample=0.85,
              colsample_bytree=0.8,
              objective= 'binary:logistic',
              nthread=4,
              scale_pos_weight=1,
              seed=27), 
              param_grid = param_test,
              scoring='roc_auc',
              n_jobs=4,
              iid=False, 
              cv=2,
              verbose=10)

gsearch.fit(X_train, y_train)

print('Best Grid Search Parameters :',gsearch.best_params_)
print('Best Grid Search Score : ',gsearch.best_score_)

TypeError: GridSearchCV.__init__() got an unexpected keyword argument 'iid'